@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 220px;
  background-image: url(https://img.freepik.com/free-photo/high-angle-defocused-wooden-cubes-with-password-laptop_23-2148578071.jpg?t=st=1737095174~exp=1737098774~hmac=d3ae44fd1b76058d43276b4a70148ec473f60d7582a46897201a87167ad19df9&w=1060);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.height {
  height: 12rem;
}