@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 220px;
  background-image: url(https://images.pexels.com/photos/17417677/pexels-photo-17417677/free-photo-of-crescent-on-clear-sky-over-man-walking-with-lanter-on-shore-at-night.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.height {
  height: 12rem;
}