@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 220px;
  background-color : gray;
}
.height
{
  height: 12rem;
}